.gapping {
  margin-top: 600px;
}
#root {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
.sign-in {
  width: 100%;
  max-width: 530px;
  padding: 15px;
  margin: auto;
  text-align: center;
}
.login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}
.pointer {
  cursor: pointer !important;
}
